p {
    color: green;
    font-size: 15px;
    background-color: aqua;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
}

body {
    background-image: url("https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-attachment: fixed;  /* Keeps the image fixed on scroll */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


.tasnim {
    color: beige;
    margin: 40px 80px;
    border: 5px solid red;
    padding: 10px;
    
}

button{
    border: 5px solid green;
    padding: 10 px 20px;
    border-radius: 100px;
    background: yellow;

}